{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Adicionando Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'cadastro_func/cadastro_func.css' %}">
</head>

<body>
    <div class="container">
        <h1>Cadastro de Funcionário</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="func_nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="func_nome" required>
            </div>
            <div class="form-group">
                <label for="func_sobrenome">Sobrenome:</label>
                <input type="text" class="form-control" id="sobrenome" name="func_sobrenome" required>
            </div>
            <div class="form-group">
                <label for="func_end">Endereço:</label>
                <input type="text" class="form-control" id="endereco" name="func_end" required>
            </div>
            <div class="form-group">
                <label for="func_tel">Telefone:</label>
                <input type="tel" class="form-control" id="telefone" name="func_tel" required>
            </div>
            <div class="form-group">
                <label for="func_salario">Salário:</label>
                <input type="number" class="form-control" id="salario" name="func_salario" required>
            </div>
            <div class="form-group">
                <label for="departamento">Departamento:</label>
                <select class="form-control" name="departamento" required>
                    <option value="">Selecione o departamento</option>
                    {% for departamento in departamentos %}
                        <option value="{{ departamento.pk }}">{{ departamento.depert_setor }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="Salvar">
        </form>
    </div>

    <!-- Adicionando Bootstrap JS (opcional, apenas se você precisar de funcionalidades JavaScript do Bootstrap) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
